interactions:
- request:
    body: '{"location": "WestUs", "properties": {"customRules": [], "managedRules":
      {"managedRuleSets": [{"ruleSetType": "OWASP", "ruleSetVersion": "3.0"}]}}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
>>>>>>> main
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/myPolicy?api-version=2021-03-01
  response:
    body:
<<<<<<< HEAD
      string: "{\r\n  \"name\": \"myPolicy\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/myPolicy\"\
        ,\r\n  \"etag\": \"W/\\\"d63f06b1-6087-4aff-8083-d8a88db9dbbb\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\"\
        : \"Updating\",\r\n    \"customRules\": [],\r\n    \"policySettings\": {\r\
        \n      \"requestBodyCheck\": true,\r\n      \"maxRequestBodySizeInKb\": 128,\r\
        \n      \"fileUploadLimitInMb\": 100,\r\n      \"state\": \"Disabled\",\r\n\
        \      \"mode\": \"Detection\"\r\n    },\r\n    \"managedRules\": {\r\n  \
        \    \"managedRuleSets\": [\r\n        {\r\n          \"ruleSetType\": \"\
        OWASP\",\r\n          \"ruleSetVersion\": \"3.0\",\r\n          \"ruleGroupOverrides\"\
        : []\r\n        }\r\n      ],\r\n      \"exclusions\": []\r\n    }\r\n  }\r\
        \n}"
=======
      string: "{\r\n  \"name\": \"myPolicy\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/myPolicy\",\r\n
        \ \"etag\": \"W/\\\"d1386a15-9c20-49dd-85a9-3a5aa9dcdda9\\\"\",\r\n  \"type\":
        \"Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies\",\r\n
        \ \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Updating\",\r\n    \"customRules\": [],\r\n    \"policySettings\": {\r\n
        \     \"requestBodyCheck\": true,\r\n      \"maxRequestBodySizeInKb\": 128,\r\n
        \     \"fileUploadLimitInMb\": 100,\r\n      \"state\": \"Disabled\",\r\n
        \     \"mode\": \"Detection\"\r\n    },\r\n    \"managedRules\": {\r\n      \"managedRuleSets\":
        [\r\n        {\r\n          \"ruleSetType\": \"OWASP\",\r\n          \"ruleSetVersion\":
        \"3.0\",\r\n          \"ruleGroupOverrides\": []\r\n        }\r\n      ],\r\n
        \     \"exclusions\": []\r\n    }\r\n  }\r\n}"
>>>>>>> main
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/8f63c0e6-3330-47a6-9da9-cc48b1457e40?api-version=2021-03-01
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/a40f9b68-16e8-4760-bae5-60ac00e4c994?api-version=2021-03-01
>>>>>>> main
      cache-control:
      - no-cache
      content-length:
      - '937'
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< HEAD
      - Sat, 09 Oct 2021 08:52:08 GMT
=======
      - Thu, 21 Oct 2021 04:37:44 GMT
>>>>>>> main
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - 32fd5ea9-26f8-433e-af32-935eca594aba
=======
      - 975d137d-01c5-4ecc-8fce-c2e030fb4b25
>>>>>>> main
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/fc285dbb-b5e7-4af6-a5b7-2e48852ed3b6?api-version=2021-03-01
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/00e1fee1-f31d-46e4-a0a3-28bdbedf8cef?api-version=2021-03-01
>>>>>>> main
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Sat, 09 Oct 2021 08:52:20 GMT
=======
      - Thu, 21 Oct 2021 04:37:54 GMT
>>>>>>> main
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - 81b8c0eb-4e5f-49b2-a720-6acd6bdf8813
=======
      - c17aa92f-1f36-4ee6-a7b9-144abb653d1e
>>>>>>> main
    status:
      code: 200
      message: OK
version: 1
