interactions:
- request:
    body: '{"location": "West US", "tags": {"key1": "value1"}, "properties": {"ipAddresses":
      ["13.64.39.16/32", "40.74.146.80/31", "40.74.147.32/28"]}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
>>>>>>> main
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/ipGroups/myIpGroups?api-version=2021-03-01
  response:
    body:
<<<<<<< HEAD
      string: "{\r\n  \"properties\": {\r\n    \"firewalls\": [],\r\n    \"firewallPolicies\"\
        : [],\r\n    \"ipAddresses\": [\r\n      \"13.64.39.16/32\",\r\n      \"40.74.146.80/31\"\
        ,\r\n      \"40.74.147.32/28\"\r\n    ],\r\n    \"provisioningState\": \"\
        Updating\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/ipGroups/myIpGroups\"\
        ,\r\n  \"name\": \"myIpGroups\",\r\n  \"type\": \"Microsoft.Network/IpGroups\"\
        ,\r\n  \"etag\": \"0f5b9812-b0d2-423b-b217-8b402f064ed4\",\r\n  \"location\"\
        : \"westus\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/nfvOperations/a316eed3-e048-496b-9f59-109a67cf17ef?api-version=2021-03-01
=======
      string: "{\r\n  \"properties\": {\r\n    \"firewalls\": [],\r\n    \"firewallPolicies\":
        [],\r\n    \"ipAddresses\": [\r\n      \"13.64.39.16/32\",\r\n      \"40.74.146.80/31\",\r\n
        \     \"40.74.147.32/28\"\r\n    ],\r\n    \"provisioningState\": \"Updating\"\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/ipGroups/myIpGroups\",\r\n
        \ \"name\": \"myIpGroups\",\r\n  \"type\": \"Microsoft.Network/IpGroups\",\r\n
        \ \"etag\": \"753bf6f8-7df3-4ee7-87ec-f4b58a09694c\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {\r\n    \"key1\": \"value1\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/nfvOperations/d13f8f65-bddb-4897-a891-7b30172063db?api-version=2021-03-01
>>>>>>> main
      cache-control:
      - no-cache
      content-length:
      - '613'
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< HEAD
      - Sat, 09 Oct 2021 07:30:16 GMT
=======
      - Thu, 21 Oct 2021 03:07:16 GMT
>>>>>>> main
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
<<<<<<< HEAD
      - '1197'
=======
      - '1191'
>>>>>>> main
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/nfvOperations/a316eed3-e048-496b-9f59-109a67cf17ef?api-version=2021-03-01
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/nfvOperations/d13f8f65-bddb-4897-a891-7b30172063db?api-version=2021-03-01
>>>>>>> main
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Sat, 09 Oct 2021 07:30:26 GMT
=======
      - Thu, 21 Oct 2021 03:07:26 GMT
>>>>>>> main
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
>>>>>>> main
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/ipGroups/myIpGroups?api-version=2021-03-01
  response:
    body:
      string: ''
    headers:
<<<<<<< HEAD
      - Sat, 09 Oct 2021 07:30:30 GMT
=======
      - Thu, 21 Oct 2021 03:07:28 GMT
>>>>>>> main
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-deletes:
<<<<<<< HEAD
      - '14999'
=======
      - '14993'
>>>>>>> main
    status:
      code: 200
      message: OK
version: 1
