interactions:
- request:
    body: '{"location": "West US", "tags": {"key1": "value1"}, "properties": {"disableVpnEncryption":
      false, "type": "Basic"}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
>>>>>>> main
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_firewall_test_network892411e1/providers/Microsoft.Network/virtualWans/virtualwan?api-version=2021-03-01
  response:
    body:
<<<<<<< HEAD
      string: "{\r\n  \"name\": \"virtualwan\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_firewall_test_network892411e1/providers/Microsoft.Network/virtualWans/virtualwan\"\
        ,\r\n  \"etag\": \"W/\\\"c8e5f20b-347b-46e0-9d49-4d33615000e5\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {\r\n    \"key1\": \"value1\"\r\n  },\r\n  \"properties\"\
        : {\r\n    \"provisioningState\": \"Updating\",\r\n    \"disableVpnEncryption\"\
        : false,\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"office365LocalBreakoutCategory\"\
        : \"None\",\r\n    \"type\": \"Basic\"\r\n  }\r\n}"
=======
      string: "{\r\n  \"name\": \"virtualwan\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_firewall_test_network892411e1/providers/Microsoft.Network/virtualWans/virtualwan\",\r\n
        \ \"etag\": \"W/\\\"925aa83a-ba68-4ec7-80f4-6bbf1d1361f5\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westus\",\r\n  \"tags\":
        {\r\n    \"key1\": \"value1\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Updating\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\":
        true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\":
        \"Basic\"\r\n  }\r\n}"
>>>>>>> main
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/54f5e6ed-9a14-43f0-9123-de5e8dae342b?api-version=2021-03-01
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/c48a4f23-f350-452b-b0a4-f28aac5928a5?api-version=2021-03-01
>>>>>>> main
      cache-control:
      - no-cache
      content-length:
      - '590'
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< HEAD
      - Sat, 09 Oct 2021 07:02:40 GMT
=======
      - Thu, 21 Oct 2021 02:37:21 GMT
>>>>>>> main
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - f05da407-c8eb-417a-a783-1b0c3b13f3ff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
=======
      - 7d798623-8b79-4984-9fa5-d6d0933d9b1f
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
>>>>>>> main
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/54f5e6ed-9a14-43f0-9123-de5e8dae342b?api-version=2021-03-01
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/c48a4f23-f350-452b-b0a4-f28aac5928a5?api-version=2021-03-01
>>>>>>> main
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Sat, 09 Oct 2021 07:02:52 GMT
=======
      - Thu, 21 Oct 2021 02:37:31 GMT
>>>>>>> main
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - f3380fdf-13ba-4b5e-9306-ceaf302c0323
=======
      - 8662103b-00e5-4134-91b3-0ba4b9c87189
>>>>>>> main
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "West US", "tags": {"key1": "value1"}, "properties": {"virtualWan":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_firewall_test_network892411e1/providers/Microsoft.Network/virtualWans/virtualwan"},
      "addressPrefix": "10.168.0.0/24", "sku": "Basic"}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
>>>>>>> main
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_firewall_test_network892411e1/providers/Microsoft.Network/virtualHubs/virtualhub?api-version=2021-03-01
  response:
    body:
<<<<<<< HEAD
      string: "{\r\n  \"name\": \"virtualhub\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_firewall_test_network892411e1/providers/Microsoft.Network/virtualHubs/virtualhub\"\
        ,\r\n  \"etag\": \"W/\\\"b8b3d70f-00b2-4a11-bc91-fd658df4405a\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {\r\n    \"key1\": \"value1\"\r\n  },\r\n  \"properties\"\
        : {\r\n    \"provisioningState\": \"Updating\",\r\n    \"virtualHubRouteTableV2s\"\
        : [],\r\n    \"addressPrefix\": \"10.168.0.0/24\",\r\n    \"virtualRouterAsn\"\
        : 0,\r\n    \"virtualRouterIps\": [],\r\n    \"routeTable\": {\r\n      \"\
        routes\": []\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_firewall_test_network892411e1/providers/Microsoft.Network/virtualWans/virtualwan\"\
        \r\n    },\r\n    \"sku\": \"Basic\",\r\n    \"routingState\": \"None\",\r\
        \n    \"allowBranchToBranchTraffic\": false,\r\n    \"preferredRoutingGateway\"\
        : \"ExpressRoute\"\r\n  }\r\n}"
=======
      string: "{\r\n  \"name\": \"virtualhub\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_firewall_test_network892411e1/providers/Microsoft.Network/virtualHubs/virtualhub\",\r\n
        \ \"etag\": \"W/\\\"cb8ef8bb-f218-4dea-bbe2-01bdeb318db6\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"westus\",\r\n  \"tags\":
        {\r\n    \"key1\": \"value1\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Updating\",\r\n    \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\":
        \"10.168.0.0/24\",\r\n    \"virtualRouterAsn\": 0,\r\n    \"virtualRouterIps\":
        [],\r\n    \"routeTable\": {\r\n      \"routes\": []\r\n    },\r\n    \"virtualWan\":
        {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_firewall_test_network892411e1/providers/Microsoft.Network/virtualWans/virtualwan\"\r\n
        \   },\r\n    \"sku\": \"Basic\",\r\n    \"routingState\": \"None\",\r\n    \"allowBranchToBranchTraffic\":
        false,\r\n    \"preferredRoutingGateway\": \"ExpressRoute\"\r\n  }\r\n}"
>>>>>>> main
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/8a94a5a9-0734-4f76-be5a-106f88bbbe3d?api-version=2021-03-01
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/8575326d-2871-41c9-9be8-fd09243c3f7f?api-version=2021-03-01
>>>>>>> main
      cache-control:
      - no-cache
      content-length:
      - '984'
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< HEAD
      - Sat, 09 Oct 2021 07:02:57 GMT
=======
      - Thu, 21 Oct 2021 02:37:33 GMT
>>>>>>> main
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - 713f3559-3b1e-4497-b0b9-d2a238c5d4cf
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
=======
      - a1dcd0d8-80ff-45fc-970a-ff22ed301acf
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
>>>>>>> main
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "eastus", "tags": {"key1": "value1"}, "properties": {"threatIntelMode":
      "Alert"}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
>>>>>>> main
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_firewall_test_network892411e1/providers/Microsoft.Network/firewallPolicies/firewallpolicy?api-version=2021-03-01
  response:
    body:
<<<<<<< HEAD
      string: "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"tier\": \"Standard\"\
        \r\n    },\r\n    \"threatIntelMode\": \"Alert\",\r\n    \"childPolicies\"\
        : [],\r\n    \"ruleCollectionGroups\": [],\r\n    \"firewalls\": [],\r\n \
        \   \"provisioningState\": \"Updating\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_firewall_test_network892411e1/providers/Microsoft.Network/firewallPolicies/firewallpolicy\"\
        ,\r\n  \"name\": \"firewallpolicy\",\r\n  \"type\": \"Microsoft.Network/FirewallPolicies\"\
        ,\r\n  \"etag\": \"53c5df4e-f046-4d43-9e5b-7c0821c06063\",\r\n  \"location\"\
        : \"eastus\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/nfvOperations/558b9af0-1c33-4bdd-82ba-dc8f105ce496?api-version=2021-03-01
=======
      string: "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"tier\": \"Standard\"\r\n
        \   },\r\n    \"threatIntelMode\": \"Alert\",\r\n    \"childPolicies\": [],\r\n
        \   \"ruleCollectionGroups\": [],\r\n    \"firewalls\": [],\r\n    \"provisioningState\":
        \"Updating\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_firewall_test_network892411e1/providers/Microsoft.Network/firewallPolicies/firewallpolicy\",\r\n
        \ \"name\": \"firewallpolicy\",\r\n  \"type\": \"Microsoft.Network/FirewallPolicies\",\r\n
        \ \"etag\": \"fc4410ca-24e3-418b-93f4-c303a305be27\",\r\[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/nfvOperations/558b9af0-1c33-4bdd-82ba-dc8f105ce496?api-version=2021-03-01
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/nfvOperations/20df925d-19ff-4c3b-8741-cccc89afddeb?api-version=2021-03-01
>>>>>>> main
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Sat, 09 Oct 2021 07:09:44 GMT
=======
      - Thu, 21 Oct 2021 02:44:09 GMT
>>>>>>> main
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "West US", "tags": {"key1": "value1"}, "zones": [], "properties":
      {"virtualHub": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_firewall_test_network892411e1/providers/Microsoft.Network/virtualHubs/virtualhub"},
      "firewallPolicy": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_firewall_test_network892411e1/providers/Microsoft.Network/firewallPolicies/firewallpolicy"},
      "hubIPAddresses": {"publicIPs": {"addresses": [], "count": 1}}, "sku": {"name":
      "AZFW_Hub", "tier": "Standard"}}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
>>>>>>> main
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_firewall_test_network892411e1/providers/Microsoft.Network/azureFirewalls/azurefirewall?api-version=2021-03-01
  response:
    body:
<<<<<<< HEAD
      string: "{\r\n  \"name\": \"azurefirewall\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_firewall_test_network892411e1/providers/Microsoft.Network/azureFirewalls/azurefirewall\"\
        ,\r\n  \"etag\": \"W/\\\"170bef60-7fac-433f-a361-9e6a63f7b213\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/azureFirewalls\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {\r\n    \"key1\": \"value1\"\r\n  },\r\n  \"properties\"\
        : {\r\n    \"provisioningState\": \"Updating\",\r\n    \"sku\": {\r\n    \
        \  \"name\": \"AZFW_Hub\",\r\n      \"tier\": \"Standard\"\r\n    },\r\n \
        \   \"additionalProperties\": {},\r\n    \"virtualHub\": {\r\n      \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_network_firewall_test_network892411e1/providers/Microsoft.Network/virtualHubs/virtualhub\"\
        \r\n    },\r\n    \"hubIPAddresses\": {\r\n      \"publicIPs\": {\r\n    \
        \    \"addresses\": [],\r\n        \"count\": 1\r\n      }\r\n    },\r\n \
        \   \"firewallPolicy\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-0000000000[...]
[...]
- request:
    body: '{"tags": {"tag1": "value1", "tag2": "value2"}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
>>>>>>> main
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-000[...]
[...]
