interactions:
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
>>>>>>> main
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/routeTables/myRouteTable?api-version=2021-03-01
  response:
    body:
<<<<<<< HEAD
      string: "{\r\n  \"name\": \"myRouteTable\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/routeTables/myRouteTable\"\
        ,\r\n  \"etag\": \"W/\\\"0ef35be7-5c90-4fc9-b6d6-15b71880e1c6\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/routeTables\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n \
        \   \"resourceGuid\": \"02f9db21-4a99-4504-a714-c0c4dbc40521\",\r\n    \"\
        disableBgpRoutePropagation\": false,\r\n    \"routes\": []\r\n  }\r\n}"
=======
      string: "{\r\n  \"name\": \"myRouteTable\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/routeTables/myRouteTable\",\r\n
        \ \"etag\": \"W/\\\"37b20f51-6922-40f2-87a5-06abc1217e08\\\"\",\r\n  \"type\":
        \"Microsoft.Network/routeTables\",\r\n  \"location\": \"westus\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"95c4f8f1-c879-4cfb-8c1f-18f66c2f495c\",\r\n
        \   \"disableBgpRoutePropagation\": false,\r\n    \"routes\": []\r\n  }\r\n}"
>>>>>>> main
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/51bcf954-f08c-402b-ad26-884d1dddde81?api-version=2021-03-01
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/bafdbe7d-ef0a-4a99-b29c-a8400a271a0b?api-version=2021-03-01
>>>>>>> main
      cache-control:
      - no-cache
      content-length:
      - '553'
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< HEAD
      - Sat, 09 Oct 2021 07:35:50 GMT
=======
      - Thu, 21 Oct 2021 03:11:18 GMT
>>>>>>> main
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - 3e345a04-4dd7-4a1e-8c1f-5e6846c8893e
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
=======
      - 7db1ee36-55c3-471d-861b-cff603609ee4
      x-ms-ratelimit-remaining-subscription-writes:
      - '1186'
>>>>>>> main
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/51bcf954-f08c-402b-ad26-884d1dddde81?api-version=2021-03-01
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/bafdbe7d-ef0a-4a99-b29c-a8400a271a0b?api-version=2021-03-01
>>>>>>> main
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Sat, 09 Oct 2021 07:36:00 GMT
=======
      - Thu, 21 Oct 2021 03:11:28 GMT
>>>>>>> main
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - 305c7bb8-752a-4ff6-bc2d-0b79a01c4ad2
=======
      - 86c8b8a8-08c4-4e9f-a827-4acf7297e439
>>>>>>> main
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"addressPrefix": "10.0.3.0/24", "nextHopType": "VirtualNetworkGateway"}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
>>>>>>> main
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/routeTables/myRouteTable/routes/myRoute?api-version=2021-03-01
  response:
    body:
<<<<<<< HEAD
      string: "{\r\n  \"name\": \"myRoute\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/routeTables/myRouteTable/routes/myRoute\"\
        ,\r\n  \"etag\": \"W/\\\"e8c97aa4-c773-488a-a7ad-1696b9e27d94\\\"\",\r\n \
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"\
        addressPrefix\": \"10.0.3.0/24\",\r\n    \"nextHopType\": \"VirtualNetworkGateway\"\
        ,\r\n    \"hasBgpOverride\": false\r\n  },\r\n  \"type\": \"Microsoft.Network/routeTables/routes\"\
        \r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/58baff23-fdca-460b-99f7-f82772ef1f3d?api-version=2021-03-01
=======
      string: "{\r\n  \"name\": \"myRoute\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Networ[...]
[...]
- request:
    body: '{"tags": {"tag1": "value1", "tag2": "value2"}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
>>>>>>> main
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-000[...]
[...]
