interactions:
- request:
    body: '{"location": "West US", "tags": {"key1": "value1"}, "properties": {"disableVpnEncryption":
      false, "type": "Basic"}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
>>>>>>> main
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualWans/virtualwan76dc116f?api-version=2021-03-01
  response:
    body:
<<<<<<< HEAD
      string: "{\r\n  \"name\": \"virtualwan76dc116f\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualWans/virtualwan76dc116f\"\
        ,\r\n  \"etag\": \"W/\\\"6b94917f-aa72-44b2-908a-b9432a52168e\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {\r\n    \"key1\": \"value1\"\r\n  },\r\n  \"properties\"\
        : {\r\n    \"provisioningState\": \"Updating\",\r\n    \"disableVpnEncryption\"\
        : false,\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"office365LocalBreakoutCategory\"\
        : \"None\",\r\n    \"type\": \"Basic\"\r\n  }\r\n}"
=======
      string: "{\r\n  \"name\": \"virtualwan76dc116f\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualWans/virtualwan76dc116f\",\r\n
        \ \"etag\": \"W/\\\"25505094-859f-488f-95d8-29537774ba67\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westus\",\r\n  \"tags\":
        {\r\n    \"key1\": \"value1\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Updating\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\":
        true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\":
        \"Basic\"\r\n  }\r\n}"
>>>>>>> main
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/f75bd5ce-2c3a-415c-8b0a-c3f31fb82b1f?api-version=2021-03-01
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/4e82d316-0c18-4dc8-92bf-48f8baa3d003?api-version=2021-03-01
>>>>>>> main
      cache-control:
      - no-cache
      content-length:
      - '630'
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< HEAD
      - Sat, 09 Oct 2021 07:36:58 GMT
=======
      - Thu, 21 Oct 2021 03:12:04 GMT
>>>>>>> main
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - 13a93de9-698d-41d3-bf4e-29df53e95021
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
=======
      - 8a6fa640-21d9-4775-b3b8-9b06b92677a4
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
>>>>>>> main
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/f75bd5ce-2c3a-415c-8b0a-c3f31fb82b1f?api-version=2021-03-01
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/4e82d316-0c18-4dc8-92bf-48f8baa3d003?api-version=2021-03-01
>>>>>>> main
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Sat, 09 Oct 2021 07:37:09 GMT
=======
      - Thu, 21 Oct 2021 03:12:14 GMT
>>>>>>> main
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - 1e08efd7-f1a7-4adc-8590-e97b81d83c65
=======
      - bb4583e8-db6d-4ce0-9b2f-9836a41bab88
>>>>>>> main
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "West US", "tags": {"key1": "value1"}, "properties": {"virtualWan":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualWans/virtualwan76dc116f"},
      "addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "isSecuritySite": false,
      "vpnSiteLinks": [{"name": "vpnSiteLink1", "properties": {"linkProperties": {"linkProviderName":
      "vendor1", "linkSpeedInMbps": 0}, "ipAddress": "50.50.50.56", "bgpProperties":
      {"asn": 1234, "bgpPeeringAddress": "192.168.0.0"}}}]}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
>>>>>>> main
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnSites/vnpsite76dc116f?api-version=2021-03-01
  response:
    body:
<<<<<<< HEAD
      string: "{\r\n  \"name\": \"vnpsite76dc116f\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnSites/vnpsite76dc116f\"\
        ,\r\n  \"etag\": \"W/\\\"ebf98dc5-6012-4db4-aab1-d4d58774fd64\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/vpnSites\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {\r\n    \"key1\": \"value1\"\r\n  },\r\n  \"properties\"\
        : {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressSpace\": {\r\
        \n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n \
        \   },\r\n    \"deviceProperties\": {\r\n      \"linkSpeedInMbps\": 0\r\n\
        \    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualWans/virtualwan76dc116f\"\
        \r\n    },\r\n    \"isSecuritySite\": false,\r\n    \"o365Policy\": {\r\n\
        \      \"breakOutCategories\": {\r\n        \"optimize\": false,\r\n     \
        \   \"allow\": false,\r\n        \"default\": false\r\n      }\r\n    },\r\
        \n    \"vpnSiteLinks\": [\r\n      {\r\n        \"name\": \"vpnSiteLink1\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnSites/vnpsite76dc116f/vpnSiteLinks/vpnSiteLink1\"\
        ,\r\n        \"etag\": \"W/\\\"ebf98dc5-6012-4db4-aab1-d4d58774fd64\\\"\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\"\
        ,\r\n          \"i[...]
[...]
- request:
    body: '{"location": "West US", "tags": {"key1": "value1"}, "properties": {"virtualWan":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualWans/virtualwan76dc116f"},
      "addressPrefix": "10.168.0.0/24", "sku": "Basic"}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
>>>>>>> main
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualHubs/virtualhubx76dc116f?api-version=2021-03-01
  response:
    body:
<<<<<<< HEAD
      string: "{\r\n  \"name\": \"virtualhubx76dc116f\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualHubs/virtualhubx76dc116f\"\
        ,\r\n  \"etag\": \"W/\\\"f43af828-aabd-445c-bda4-f53c7d84afd8\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {\r\n    \"key1\": \"value1\"\r\n  },\r\n  \"properties\"\
        : {\r\n    \"provisioningState\": \"Updating\",\r\n    \"virtualHubRouteTableV2s\"\
        : [],\r\n    \"addressPrefix\": \"10.168.0.0/24\",\r\n    \"virtualRouterAsn\"\
        : 0,\r\n    \"virtualRouterIps\": [],\r\n    \"routeTable\": {\r\n      \"\
        routes\": []\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualWans/virtualwan76dc116f\"\
        \r\n    },\r\n    \"sku\": \"Basic\",\r\n    \"routingState\": \"None\",\r\
        \n    \"allowBranchToBranchTraffic\": false,\r\n    \"preferredRoutingGateway\"\
        : \"ExpressRoute\"\r\n  }\r\n}"
=======
      string: "{\r\n  \"name\": \"virtualhubx76dc116f\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualHubs/virtualhubx76dc116f\",\r\n
        \ \"etag\": \"W/\\\"388b5842-619c-4099-840d-1d596359fea4\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"westus\",\r\n  \"tags\":
        {\r\n    \"key1\": \"value1\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Updating\",\r\n    \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\":
        \"10.168.0.0/24\",\r\n    \"virtualRouterAsn\": 0,\r\n    \"virtualRouterIps\":
        [],\r\n    \"routeTable\": {\r\n      \"routes\": []\r\n    },\r\n    \"virtualWan\":
        {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualWans/virtualwan76dc116f\"\r\n
        \   },\r\n    \"sku\": \"Basic\",\r\n    \"routingState\": \"None\",\r\n    \"allowBranchToBranchTraffic\":
        false,\r\n    \"preferredRoutingGateway\": \"ExpressRoute\"\r\n  }\r\n}"
>>>>>>> main
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/279ba545-300b-4b8b-a75d-9d2da967cdf1?api-version=2021-03-01
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operations/97333d42-11a8-43ef-9bc8-55ce8a05dc1b?api-version=2021-03-01
>>>>>>> main
      cache-control:
      - no-cache
      content-length:
      - '1058'
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< HEAD
      - Sat, 09 Oct 2021 07:37:29 GMT
=======
      - Thu, 21 Oct 2021 03:12:37 GMT
>>>>>>> main
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - e54c7696-e421-4568-97de-97696a1e601a
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
=======
      - e67b393a-54b6-467b-83e4-477819d8e8f1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
>>>>>>> main
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "West US", "tags": {"key1": "value1"}, "properties": {"virtualHub":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualHubs/virtualhubx76dc116f"},
      "connections": [{"name": "vpnConnection1", "properties": {"remoteVpnSite": {"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnSites/vnpsite76dc116f"},
      "vpnLinkConnections": [{"name": "Connection-Link1", "properties": {"vpnSiteLink":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnSites/vnpsite76dc116f/vpnSiteLinks/vpnSiteLink1"},
      "vpnConnectionProtocolType": "IKEv2", "connectionBandwidth": 200, "sharedKey":
      "key"}}]}}], "bgpSettings": {"asn": 65515, "peerWeight": 0}}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
>>>>>>> main
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000[...]
[...]
- request:
    body: '{"location": "West US", "tags": {"key1": "value1"}, "properties": {"securityProviderName":
      "ZScaler", "virtualHub": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualHubs/virtualhubx76dc116f"}}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
  [...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
>>>>>>> main
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualWans/virtualwan76dc116f?api-version=2021-03-01
  response:
    body:
<<<<<<< HEAD
      string: "{\r\n  \"name\": \"virtualwan76dc116f\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualWans/virtualwan76dc116f\"\
        ,\r\n  \"etag\": \"W/\\\"e5ec5360-e910-4ee6-98c6-2d6601daf9db\\\"\",\r\n \
        \ \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {\r\n    \"key1\": \"value1\"\r\n  },\r\n  \"properties\"\
        : {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"disableVpnEncryption\"\
        : false,\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"office365LocalBreakoutCategory\"\
        : \"None\",\r\n    \"type\": \"Basic\",\r\n    \"virtualHubs\": [\r\n    \
        \  {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualHubs/virtualhubx76dc116f\"\
        \r\n      }\r\n    ],\r\n    \"vpnSites\": [\r\n      {\r\n        \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/vpnSites/vnpsite76dc116f\"\
        \r\n      }\r\n    ]\r\n  }\r\n}"
=======
      string: "{\r\n  \"name\": \"virtualwan76dc116f\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Network/virtualWans/virtualwan76dc116f\",\r\n
        \ \"etag\": \"W/\\\"c19f9a0a-795c-4e1c-aa7f-ce11946e64d3[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
>>>>>>> main
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgna[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
>>>>>>> main
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgn[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus/operationResults/4727cafc-a804-4889-be91-485ff73f5aed?api-version=2021-03-01
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azu[...]
- request:
    body: '{"tags": {"key1": "value1", "key2": "value2"}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
>>>>>>> main
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-000[...]
[...]
- request:
    body: '{"tags": {"tag1": "value1", "tag2": "value2"}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-network/19.1.0 Python/3.6.9 (Linux-5.4.72-microsoft-standard-WSL2-x86_64-with-Ubuntu-18.04-bionic)
=======
      - azsdk-python-azure-mgmt-network/19.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
>>>>>>> main
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-000[...]
[...]
