interactions:
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "00000000-0000-0000-0000-000000000000",
      "permissions": {"keys": ["encrypt", "decrypt", "wrapKey", "unwrapKey", "sign",
      "verify", "get", "list", "create", "update", "import", "delete", "backup", "restore",
      "recover", "purge"], "secrets": ["get", "list", "set", "delete", "backup", "restore",
      "recover", "purge"], "certificates": ["get", "list", "delete", "create", "import",
      "update", "managecontacts", "getissuers", "listissuers", "setissuers", "deleteissuers",
      "manageissuers", "recover", "purge"]}}], "enabledForDeployment": true, "enabledForDiskEncryption":
      true, "enabledForTemplateDeployment": true}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
=======
      - azsdk-python-azure-mgmt-keyvault/9.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
>>>>>>> main
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.KeyVault/vaults/myValtZikfikxyzz?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.KeyVault/vaults/myValtZikfikxyzz","name":"myValtZikfikxyzz","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"00000000-0000-0000-0000-000000000000","permissions":{"keys":["encrypt","decrypt","wrapKey","unwrapKey","sign","verify","get","list","create","update","import","delete","backup","restore","recover","purge"],"secrets":["get","list","set","delete","backup","restore","recover","purge"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover","purge"]}}],"enabledForDeployment":true,"enabledForDiskEncryption":true,"enabledForTemplateDeployment":true,"enableSoftDelete":true,"vaultUri":"https://myValtZikfikxyzz.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type: application/json; charset=utf-8
<<<<<<< HEAD
      date: Thu, 26 Aug 2021 05:40:51 GMT
=======
      date: Fri, 15 Oct 2021 01:53:19 GMT
>>>>>>> main
      expires: '-1'
      pragma: no-cache
      server: Microsoft-IIS/10.0
      strict-transport-security: max-age=31536000; includeSubDomains
      transfer-encoding: chunked
      vary: Accept-Encoding
      x-aspnet-version: 4.0.30319
      x-content-type-options: nosniff
<<<<<<< HEAD
      x-ms-keyvault-service-version: 1.5.99.0
=======
      x-ms-keyvault-service-version: 1.5.155.0
>>>>>>> main
      x-ms-ratelimit-remaining-subscription-writes: '1199'
      x-powered-by: ASP.NET
    status:
      code: 200
      message: OK
<<<<<<< HEAD
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-7lyvyztmydsugni7jmvaz3a5pqb6n7qvzpc33nalbgnmsiwfg67q7fc25j4s3m4bhpz2iqlcmcm/providers/Microsoft.KeyVault/vaults/myValtZikfikxyzz?api-version=2019-09-01
=======
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgpy-wmpr3c7lj6sfcjc55iiphpibls77ijeuncj5hg7cprx4mvtdwyixrjgrvl3ooesgvx66cc7iswj/providers/Microsoft.KeyVault/vaults/myValtZikfikxyzz?api-version=2019-09-01
>>>>>>> main
[...]
- request:
    body: '{"properties": {"accessPolicies": [{"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "objectId": "00000000-0000-0000-0000-000000000000", "permissions": {"keys":
      ["encrypt"], "secrets": ["get"], "certificates": ["get"]}}]}}'
    headers:
      Content-Type:
      - application/json
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
=======
      - azsdk-python-azure-mgmt-keyvault/9.2.0 Pyth[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
=======
      - azsdk-python-azure-mgmt-keyvault/9.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
>>>>>>> main
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.KeyVault/vaults?$top=1&api-version=2019-09-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.KeyVault/vaults/myValtZikfikxyzz","name":"myValtZikfikxyzz","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"00000000-0000-0000-0000-000000000000","permissions":{"keys":["encrypt","decrypt","wrapKey","unwrapKey","sign","verify","get","list","create","update","import","delete","backup","restore","recover","purge"],"secrets":["get","list","set","delete","backup","restore","recover","purge"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover","purge"]}}],"enabledForDeployment":true,"enabledForDiskEncryption":true,"enabledForTemplateDeployment":true,"enableSoftDelete":true,"vaultUri":"https://myvaltzikfikxyzz.vault.azure.net/","provisioningState":"Succeeded"}}],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.KeyVault/vaults?$top=1&api-version=2019-09-01&$skiptoken=ServiceBased,Tm9uZSxiWGxXWVd4MFdtbHJabWxyZUhsNmVnPT0="}'
    headers:
      content-type: application/json; charset=utf-8
=======
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.KeyVault/vaults/myValtZikfikxyzz","name":"myValtZikfikxyzz","typ[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.KeyVault/vaults?$top=1&api-version=2019-09-01&$skiptoken=ServiceBased,Tm9uZSxiWGxXWVd4MFdtbHJabWxyZUhsNmVnPT0=
=======
      - az[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
=======
      - azsdk-python-azure-mgmt-keyvault/9.2.0 Python/3.8.12 (Linux-5.8.0-1042-azure-x86_64-with-glibc2.2.5)
>>>>>>> main
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01
  response:
    body:
<<<<<<< HEAD
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/bez-kv0824","name":"bez-kv0824","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/bez-rg/providers/Microsoft.KeyVault/vaults/bez-kv0824","location":"eastus","tags":{},"deletionDate":"2021-08-24T11:07:05Z","scheduledPurgeDate":"2021-11-22T11:07:05Z"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cli-test-kv-mgmt-pzrim2n","name":"cli-test-kv-mgmt-pzrim2n","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_keyvault_mgmtafrmc2k5y7ybxpw7tkjlizn3dq3lneh77f3vfjhuclte3d7kkswfm/providers/Microsoft.KeyVault/vaults/cli-test-kv-mgmt-pzrim2n","location":"eastus","tags":{},"deletionDate":"2021-08-19T21:40:45Z","scheduledPurgeDate":"2021-11-17T21:40:45Z","purgeProtectionEnabled":true}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/eastus/deletedVaults/cmk-test-keyvaultbrffu4s","name":"cmk-test-keyvaultbrffu4s","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgecm6lfxcdkglnmvak7sf7qsrrd3jcfj42jgatpasq5rjmzxooad2qsfzwm4gipzri/providers/Microsoft.KeyVault/vaults/cmk-test-keyvaultbrffu4s","location":"eastus","tags":{},"deletionDat[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=3ZfRbqM4GIXfJVrt1abBTcKIStUqbe20dIDE2H8od05wJ6khoYFO0ozm3ffQViPtK0TixsKA/Omc8x9%2B9bb22H7fbF3T[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=3ZZdb%2BI4FIb/C1rt1VLskmSUStWq7Np004lDHfuE5s4Qd6HOF0k6pYzmv88J7c3MT0DKzVEskB%2Be8758n9T2OHzd16[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=3ZXRatswFIbfJYxdLY3U2hkulNGukje3VhJZOnZ8p8TqmsqO3dhp05S%2B%2B46TwfoMAYE5ICz4%2BP7/vA/Wdtfdr9au[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=3dTBbtpAEAbgd0FVTyV4wSZypKhKml0qJ7bDeGZwuBm8JLC2MdgEQpR370J76DMg7WWl0a706f/ns1PpQ/u0rEzTufnsyL[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=3dTfbtowFAbwd0HTrkZjA6FKpWpq1xOmtAng2AfwnSFmo3b%2BQEKbpuq7z%2Bl2sWdAys1RHEf66fvO%2B6DQbfN0KEw9[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=3dTRbpswFIDhd4mmXS3FJCEVlaqpWQ0bLaQ5%2BBwod05wlsRA3EDaNFXffc7aae8QiRtLB5A%2B/cdvvUYduvt1o9ve1V[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=3ZTdattAEEbfxZRe1dHKtRIUCCVpdx2UWIpGO2NFd2tp3bj621hyrDjk3btKC4U%2BgmFvPhhm4XC%2BeZs0eujvt03ZTS[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=3ZTRbtowFIbfBU27Go0NpFUqVVPpbLq0Cd2JfcJyZ4gZ1EkISWiBqu%2B%2BQztp74DkmyMf2dKn7/fepXdd4/ryrW967e[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=3ZPdbpswFIDfBU27GsFOgYpI0dR2NlJaSHOwHcadE5xB%2BC04LU3Vd5/T7SkinZuj8yd9%2Bs6H1apJP5VtNVqLD4vcJY[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=3dBtS8MwEAfw71LEV3ZNtnajgyG%2ByIabrSNNrrXv%2BpBpTR9ik%2Bmm7LsbxU8hHBwHd/%2BD35fTi5N5aHqpneWXQ%[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=3dDRbqMwEAXQf0GrPpVgZyEVkaJVqeytSKEbY09T3gw4G4oBB5MqS9V/L636FSvNy9WM5krnzenUZXyou8Y66zeH3GZcZM[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=3ZDdTuMwFITfJUJ7tWnsti5KpQrtam2ksk2Kax%2ByuXMSlwbnx4pTCEW8O17EUyDNzWjmnJG%2Bt6DT0/i37owL1m8B/X[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=3dHRbpswFAbgd0HTrkaw05CKSNG0bhApHV5qfM4y7gw4K7MNBJOKtOq7z5v6FJXOzS/9Okf6zkvQqXn63nbaBZuXIP1SCC[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=3dBhS%2BswFAbg/1LET3ZN5qZ0MEQkHVbbuTQ5G/mWtpl2WdrYdK4q/vcbL/dXXDhfDuflPfB8B60ah%2Bem1S5YfAfkvm[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=3dBRT8IwEAfw77IYnxxrkWFGQowkHQqyxa49dW/dVnSWbnMtCBi%2Bu8X4KUzu5Z%2B73OV%2B314j9/axbpTxJt8eucsY[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=3dBba8IwFMDx71LGnlabOKtUkLFLI%2BjqJSZnmre0jbPrLTZVXIfffUH2KQbn5cCfc%2BD341Tq0r5nVW6c8Y8TPm8Y3z[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=HY3RToMwGEbfhRjvGC0bLiwhRiNcMEdmaX9n7woUxVJAWhbcsneXmHw3Jzk539Xp5Gxfm04ZZ3d14qecstx3ds6XtYPZeZ[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=HY1dT4MwGIX/CzHesbbsKyxZjJrOONzU0r4x3BUoioWW0DLRZf9dsuTcPMlzzjkHRo3%2BpTbaBZtzQO9TLtIo2ARf3ndu[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=HY1dT4MwGEb/CzHesba4j7BkMZoUzeaIlvaN9q5AUSwUpEXRZf9dNDk3T3LynFNg9eQfamtcsD0F9CbjIouCbfDmfe%2B2[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=HY1Ra8IwGEX/Sxl7q0k6q0SQMUYq6HRYk0/pW9qkW1ebZk0qneJ/twzuy%2BEe7r0FRg/%2BozK1Cxa3gL0duDhEwSL49t[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=HY3RaoMwAEX/RcbebBLXrFgoY2N2YFcZMUmLb1Fj52JiamJxLf33yeC%2BHDicewuMnPxna5QL1rcgec0py6NgHXx7b90a[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=HY1da4MwGEb/i4zd2STOtFgoYxexsK62xORd8S5q7Fz8monFbfS/Twbn5oHDc369Ts/ure6M9ba/HntJhUwDb%2Bt9ODfY[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=HY3RaoMwAEX/RcbebBJbLSmUsUEcrNOxmIQub1Hj5mJUTCyuo/8%2BGVy4XDic%2Bxv0evGvbW9ccPgNyGPBeBEFh%2BDL[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=HY1da4MwGEb/i4zdWRNXVxTK2CAttKulMe%2BL8y5qXJ2fmNjZlv73yeC5OXA4z91q1WQ%2By7bSVnC32HskIHKtwDob0%[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=HY1db4IwGIX/C1l2h20ZajAxyy6qiU6cpX1jelegTKR8hBbHXPzvY0vOzZPz5Jwfr9Gjey%2BbynqrH4%2B%2BJVwkgbfy[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=HY3RaoMwAEX/RcbebBKnLQpl7CEW2tVCYsLqWzRxszEqJhZn6b9PBvflcg73PrxOze6z6bT1koeHP2jOaOAl3o9zg00AMK[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=HY1dS8MwAEX/SxHfuiR1c2QwRCQFOxcxS%2BLIW9qmrqYfoUln59h/twj35R4u516jzkzhre6sjzbXiDwfuDgk0SY6heD8[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=HY3RaoMwAEX/RcbebBJbVxTK2EAL7WpHTLLiW4xxc6mJM7G4lv77wuC%2BHDicewu0nN1bp5UN0luQvZSEllGQBl/ODTYF[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=HY1da4MwGEb/i4zd2SS2WhTK2IXp1s6Wpcm74V3UuLr4hYnFtvS/Twbn5oHDc%2B5Oqyb7UbXaONHdiV9PXJw8J3LO1vYm[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=HY1RT4MwFIX/CzG%2BsbY4trBkMT7AA5MZob1beCtwUYQCoWXilv13q8l5%2BXK%2BnHNzelzMa9O32tndnPAl4yLznJ3z[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=LY1bT8IwGIb/y2K8G20Hk4yEGDEDAzK1ayvurtu%2ByexOWTucEP67jTF5b568p4vTwGiey0ZpZ3FxwoeY8dhzFs7RmE4v[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=Hc1Bb4IwHAXw70KW3bAtAw0mZtkBDjp0qe1/jluBMlktZbQozvjdx5a8yy95ee/mtXJ0r02rrLe8ecnLnvF94C29o3OdXS[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=HY1da8IwGIX/Sxm7q0k6q1SQMaEZzKksTV5c7tI2nV3sB00qVfG/LwzOzQPnOecetHpyn3VrbLC6B%2BlbxkUWBavg5Fxv[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=HY1da4MwGEb/i4zd2SSutliQsbEotKtlafKueBc1bi5%2B1cRiV/rfJ4Pn5sDhPDenVZN9r1ptnM3NoS9HLo6es3G%2Bre[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=HY3LboMwFET/BVXdEdvkJSKhqguIRJqkAd%2BblJ0B01LMo9hENFH%2BvajSbEbnaOZuNXI0b2VTaWtzt/zXmEPsWBvry5[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=HY3dboIwAEbfhSy7w7YIGkzMMhdqopNspa3KXYEyGX%2BVFoca333E5Ls5yZdz7lYjB/NZNKW2FncreI8oixxrYZ2MUXoB[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=HY3RasIwGEbfpYzd1SRVJynI2KAKOhXT5Fd6l7bpVtKmJUmlTnz3lcF3c%2BBwvkdg1Oi/aqNdED%2BC5CPlIo2COPjxvn[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=HY1Rb4IwHMS/C1n2hm1RZyAxyx7Kg05doP3reCtQNiwtjBZlM373seXu5ZLf3d08I0f3Whtlvejm0ZeU8TTwIu/Tuc5GCG[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=HY1ha8IwGIT/Sxn7VpN0VqkgY7A60E0xJu%2Bk39L27exi09qk0k387wuD%2B3LH3XO3wODo3mujbbC4BenLQchDFCyCk3[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=Hc1Ra8IwAATg/1LG3mqSaicVZMzRMnTqSJM485Y26dbFplmTuk7xv68M7uWD4%2B4aGDX419poFyyuQfqUE5pHwSL49N66[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - azsdk-python-azure-mgmt-keyvault/9.1.0 Python/3.8.11 (Linux-5.8.0-1039-azure-x86_64-with-glibc2.2.5)
        VSTS_0fb41ef4-5012-48a9-bf39-4ee3de03ee35_build_2500_0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&$skiptoken=HY3RaoMwGEbfRcbubBKrKxbK2EAv1tkNzZ9J7qLGzaoxNbHYlb573eC7OXA439VRcrbvjWqNs7060UtGIfOcrfNjrTZbhH[...]
[...]
